<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Blog", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
      <div class="min-h-screen bg-gray-100">
        <%= render "navbar.html", conn: @conn %>
        <div class="py-10">
          <main>
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
              <!-- Replace with your content -->
              <div class="px-4 py-8 sm:px-0">
                <%= @inner_content %>
              </div>
              <!-- /End replace -->
            </div>
          </main>
        </div>
      </div>
  </body>
</html>
