<%= if @live_action in [:edit] do %>
  <%= live_modal BlogWeb.PostLive.FormComponent,
    id: @post.id,
    title: @page_title,
    action: @live_action,
    post: @post,
    return_to: Routes.post_show_path(@socket, :show, @post) %>
<% end %>

<article class="flex flex-col bg-white rounded-lg shadow">

  <div class="font-blod text-2xl bg-blue-100 rounded-t-lg p-4">
    <%= @post.title %>
  </div>

  <div class="p-4">
    <%= @post.content %>
  </div>
  <div class="flex justify-end space-x-2 m-4">
    <span class="p-2 border broder-gray-50 rounded-lg"><%= live_patch "✏️", to: Routes.post_show_path(@socket, :edit, @post) %></span>
    <span class="p-2 border broder-gray-50 rounded-lg"><%= live_redirect "🔙", to: Routes.post_index_path(@socket, :index) %></span>
  </div>

</article>

